@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body,
h1,
h2,
h3,
p,
ul,
li,
address {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    color:#7de2d1;
    background-color: #20201e;
}

header,
footer {
    background-color: #333;
    color: #7de2d1;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7de2d1; 
}

main {
    max-width: 800px;
    min-width: 750px;
    margin: 20px auto;
    padding: 20px;
    background-color: #20201e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


#home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#home img {
    width: 50%; 
    height: 70vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#home article {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.6;
}

section {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}


h1,
h2,
h3 {
    color: #fffafb;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    line-height: 1.5;
    margin:10px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #7de2d1;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    margin-top: auto;
    border-top: 2px solid #555;
    padding: 15px 10px;
    font-size: 0.9em;
    text-align: center;
    color:#fffafb;
}

#contributions {
    display: flex;
    flex-wrap: wrap;
}

#contributions ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: square;
}

#contributions li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

